@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'GT Eesti Text Trial';
    font-weight: 100;
    src: url(/fonts/GT-Eesti-Text-Thin-Trial.woff2) format("woff2");
  }

  @font-face {
    font-family: 'GT Eesti Text Trial';
    font-weight: 200;
    src: url(/fonts/GT-Eesti-Text-UltraLight-Trial.woff2) format("woff2");
  }

  @font-face {
    font-family: 'GT Eesti Text Trial';
    font-weight: 300;
    src: url(/fonts/GT-Eesti-Text-Light-Trial.woff2) format("woff2");
  }

  @font-face {
    font-family: 'GT Eesti Text Trial';
    font-weight: 400;
    src: url(/fonts/GT-Eesti-Text-Regular-Trial.woff2) format("woff2");
  }

  @font-face {
    font-family: 'GT Eesti Text Trial';
    font-weight: 500;
    src: url(/fonts/GT-Eesti-Text-Medium-Trial.woff2) format("woff2");
  }

  @font-face {
    font-family: 'GT Eesti Text Trial';
    font-weight: 600;
    src: url(/fonts/GT-Eesti-Text-Book-Trial.woff2) format("woff2");
  }

  @font-face {
    font-family: 'GT Eesti Text Trial';
    font-weight: 700;
    src: url(/fonts/GT-Eesti-Text-Bold-Trial.woff2) format("woff2");
  }
}

@layer components {
  .layout-wrapper {
    @apply max-w-[64rem] px-4 md:px-8 xl:px-0 w-full
  }

  .work-component-layout {
    @apply flex flex-col gap-y-2 md:gap-y-4
  }

  .work-caption {
    @apply text-xs text-gray-500 dark:text-gray-400
  }
}
